description = "Categories By Property Area Section"

[viewBag]
==
<section class="rehomes-categories-property-area section-padding-100-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                    <h2>Categories By <span>Property</span></h2>
                    <p>We have over 8 years of experience and knowledge on how to sell more.</p>
                </div>
            </div>

            <!-- Single Categories and Property Content -->
            <div class="col-12 col-md-8">
                <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <a href="#"><img src="{{ 'assets/img/bg-img/7.jpg'|theme }}" alt=""></a>
                    </div>
                    <!-- Title -->
                    <a class="categories-title" href="#">25 Properties</a>
                    <!-- Property Name and Price -->
                    <div class="property-name-price-text">
                        <a href="#">Villa In Newyork</a>
                        <p>From $28000</p>
                    </div>
                </div>
            </div>

            <!-- Single Categories and Property Content -->
            <div class="col-12 col-md-4">
                <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <a href="#"><img src="{{ 'assets/img/bg-img/8.jpg'|theme }}" alt=""></a>
                    </div>
                    <!-- Title -->
                    <a class="categories-title" href="#">25 Properties</a>
                    <!-- Property Name and Price -->
                    <div class="property-name-price-text">
                        <a href="#">Home In LA</a>
                        <p>From $10000</p>
                    </div>
                </div>
            </div>

            <!-- Single Categories and Property Content -->
            <div class="col-12 col-md-4">
                <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <a href="#"><img src="{{ 'assets/img/bg-img/9.jpg'|theme }}" alt=""></a>
                    </div>
                    <!-- Title -->
                    <a class="categories-title" href="#">25 Properties</a>
                    <!-- Property Name and Price -->
                    <div class="property-name-price-text">
                        <a href="#">Home In Landport</a>
                        <p>From $16000</p>
                    </div>
                </div>
            </div>

            <!-- Single Categories and Property Content -->
            <div class="col-12 col-md-8">
                <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <a href="#"><img src="{{ 'assets/img/bg-img/10.jpg'|theme }}" alt=""></a>
                    </div>
                    <!-- Title -->
                    <a class="categories-title" href="#">25 Properties</a>
                    <!-- Property Name and Price -->
                    <div class="property-name-price-text">
                        <a href="#">Villa In Sysney</a>
                        <p>From $36000</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>