description = "Call to Action Area Section"

[viewBag]
==
<section class="rehome-call-to-action-area bg-overlay bg-img jarallax section-padding-100"
    style="background-image: url({{ 'assets/img/bg-img/11.jpg'|theme }});">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <!-- Call to Action Content -->
                <div class="call-to-action-content wow fadeInUp" data-wow-delay="200ms">
                    <h2>Download app &amp; join now!</h2>
                    <p>Download and sign up to receive all the latest real estate news.</p>
                    <!-- Button -->
                    <div class="download-btn">
                        <a class="mr-2" href="#"><img src="{{ 'assets/img/bg-img/12.png'|theme }}" alt=""></a>
                        <a href="#"><img src="{{ 'assets/img/bg-img/13.png'|theme }}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>