description = "Latest News - Blog area Section"

[viewBag]
==
<section class="rehome-blog-area section-padding-100-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                    <h2>Latest <span>News</span></h2>
                    <p>Sign up for the latest real estate information and more.</p>
                </div>
            </div>

            <!-- Single blog content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Post Thumb -->
                    <div class="post-thumb">
                        <img src="{{ 'assets/img/bg-img/14.jpg'|theme }}" alt="">
                    </div>
                    <a class="post-title" href="#">Benjamin Franklin S Method Of Habit Formation</a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a class="post-author" href="#">By Polly Williams</a>
                        <a class="post-date" href="#">Dec 19, 2018</a>
                        <a class="post-comment" href="#">3 Comment</a>
                    </div>
                </div>
            </div>

            <!-- Single blog content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Post Thumb -->
                    <div class="post-thumb">
                        <img src="{{ 'assets/img/bg-img/15.jpg'|theme }}" alt="">
                    </div>
                    <a class="post-title" href="#">How To Set Intentions That Energize You</a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a class="post-author" href="#">By Mattie Ramirez </a>
                        <a class="post-date" href="#">Dec 19, 2018</a>
                        <a class="post-comment" href="#">3 Comment</a>
                    </div>
                </div>
            </div>

            <!-- Single blog content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Post Thumb -->
                    <div class="post-thumb">
                        <img src="{{ 'assets/img/bg-img/16.jpg'|theme }}" alt="">
                    </div>
                    <a class="post-title" href="#">Burning Desire Golden Key Or Red Herring</a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a class="post-author" href="#">By Nicholas Brewer</a>
                        <a class="post-date" href="#">Dec 19, 2018</a>
                        <a class="post-comment" href="#">3 Comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>