description = "Property Latest Showcase Section"

[viewBag]
==
<section class="rehome-house-sale-area section-padding-100-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                    <h2>Top New In <span>NewYork</span></h2>
                    <p>These are the best deals and deals. All in New York City and nearby area</p>
                </div>
            </div>

            <!-- Single Property Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <img src="{{ 'assets/img/bg-img/1.jpg'|theme }}" alt="">
                    </div>

                    <!-- Property Description -->
                    <div class="property-desc-area">
                        <!-- Property Title & Seller -->
                        <div class="property-title-seller d-flex justify-content-between">
                            <!-- Title -->
                            <div class="property-title">
                                <h4>7660 Nikolaus Burg</h4>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                            </div>
                            <!-- Seller -->
                            <div class="property-seller">
                                <p>Seller:</p>
                                <h6>Alex Cross</h6>
                            </div>
                        </div>
                        <!-- Property Info -->
                        <div class="property-info-area d-flex flex-wrap">
                            <p>Sqft: <span>1420 m2</span></p>
                            <p>Garage: <span>2</span></p>
                            <p>Baths: <span>05</span></p>
                            <p>Baths: <span>06</span></p>
                        </div>
                    </div>

                    <!-- Property Price -->
                    <div class="property-price">
                        <p class="badge-rent">For Rent</p>
                        <p class="price">$1,599/month</p>
                    </div>
                </div>
            </div>

            <!-- Single Property Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <img src="{{ 'assets/img/bg-img/2.jpg'|theme }}" alt="">
                    </div>
                    <!-- Property Description -->
                    <div class="property-desc-area">
                        <!-- Property Title & Seller -->
                        <div class="property-title-seller d-flex justify-content-between">
                            <!-- Title -->
                            <div class="property-title">
                                <h4>736 Hauck Alley</h4>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                            </div>
                            <!-- Seller -->
                            <div class="property-seller">
                                <p>Seller:</p>
                                <h6>Alex Cross</h6>
                            </div>
                        </div>
                        <!-- Property Info -->
                        <div class="property-info-area d-flex flex-wrap">
                            <p>Sqft: <span>1420 m2</span></p>
                            <p>Garage: <span>2</span></p>
                            <p>Baths: <span>05</span></p>
                            <p>Baths: <span>06</span></p>
                        </div>
                    </div>

                    <!-- Property Price -->
                    <div class="property-price">
                        <p class="badge-sale">For Rent</p>
                        <p class="price">$2,120.000</p>
                    </div>
                </div>
            </div>

            <!-- Single Property Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <img src="{{ 'assets/img/bg-img/3.jpg'|theme }}" alt="">
                    </div>

                    <!-- Property Description -->
                    <div class="property-desc-area">
                        <!-- Property Title & Seller -->
                        <div class="property-title-seller d-flex justify-content-between">
                            <!-- Title -->
                            <div class="property-title">
                                <h4>170 Center Park</h4>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                            </div>
                            <!-- Seller -->
                            <div class="property-seller">
                                <p>Seller:</p>
                                <h6>Alex Cross</h6>
                            </div>
                        </div>
                        <!-- Property Info -->
                        <div class="property-info-area d-flex flex-wrap">
                            <p>Sqft: <span>1420 m2</span></p>
                            <p>Garage: <span>2</span></p>
                            <p>Baths: <span>05</span></p>
                            <p>Baths: <span>06</span></p>
                        </div>
                    </div>

                    <!-- Property Price -->
                    <div class="property-price">
                        <p class="badge-rent">For Rent</p>
                        <p class="price">$1,599/month</p>
                    </div>
                </div>
            </div>

            <!-- Single Property Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <img src="{{ 'assets/img/bg-img/4.jpg'|theme }}" alt="">
                    </div>
                    <!-- Property Description -->
                    <div class="property-desc-area">
                        <!-- Property Title & Seller -->
                        <div class="property-title-seller d-flex justify-content-between">
                            <!-- Title -->
                            <div class="property-title">
                                <h4>58 Treutel Shores</h4>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                            </div>
                            <!-- Seller -->
                            <div class="property-seller">
                                <p>Seller:</p>
                                <h6>Alex Cross</h6>
                            </div>
                        </div>
                        <!-- Property Info -->
                        <div class="property-info-area d-flex flex-wrap">
                            <p>Sqft: <span>1420 m2</span></p>
                            <p>Garage: <span>2</span></p>
                            <p>Baths: <span>05</span></p>
                            <p>Baths: <span>06</span></p>
                        </div>
                    </div>

                    <!-- Property Price -->
                    <div class="property-price">
                        <p class="badge-sale">For Rent</p>
                        <p class="price">$2,120.000</p>
                    </div>
                </div>
            </div>

            <!-- Single Property Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <img src="{{ 'assets/img/bg-img/5.jpg'|theme }}" alt="">
                    </div>

                    <!-- Property Description -->
                    <div class="property-desc-area">
                        <!-- Property Title & Seller -->
                        <div class="property-title-seller d-flex justify-content-between">
                            <!-- Title -->
                            <div class="property-title">
                                <h4>8332 Ramiro Village</h4>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                            </div>
                            <!-- Seller -->
                            <div class="property-seller">
                                <p>Seller:</p>
                                <h6>Alex Cross</h6>
                            </div>
                        </div>
                        <!-- Property Info -->
                        <div class="property-info-area d-flex flex-wrap">
                            <p>Sqft: <span>1420 m2</span></p>
                            <p>Garage: <span>2</span></p>
                            <p>Baths: <span>05</span></p>
                            <p>Baths: <span>06</span></p>
                        </div>
                    </div>

                    <!-- Property Price -->
                    <div class="property-price">
                        <p class="badge-sale">For Rent</p>
                        <p class="price">$2,120.000</p>
                    </div>
                </div>
            </div>

            <!-- Single Property Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <img src="{{ 'assets/img/bg-img/6.jpg'|theme }}" alt="">
                    </div>

                    <!-- Property Description -->
                    <div class="property-desc-area">
                        <!-- Property Title & Seller -->
                        <div class="property-title-seller d-flex justify-content-between">
                            <!-- Title -->
                            <div class="property-title">
                                <h4>221 Leann Suite 473</h4>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                            </div>
                            <!-- Seller -->
                            <div class="property-seller">
                                <p>Seller:</p>
                                <h6>Alex Cross</h6>
                            </div>
                        </div>
                        <!-- Property Info -->
                        <div class="property-info-area d-flex flex-wrap">
                            <p>Sqft: <span>1420 m2</span></p>
                            <p>Garage: <span>2</span></p>
                            <p>Baths: <span>05</span></p>
                            <p>Baths: <span>06</span></p>
                        </div>
                    </div>

                    <!-- Property Price -->
                    <div class="property-price">
                        <p class="badge-rent">For Rent</p>
                        <p class="price">$1,599/month</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>