description = "Partner Area Section"

[viewBag]
==
<div class="partner-area wow fadeInUp" data-wow-delay="200ms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partner-logo-slide owl-carousel">
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="100ms"><img src="{{ 'assets/img/core-img/1.png'|theme }}"
                            alt=""></a>
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="300ms"><img src="{{ 'assets/img/core-img/2.png'|theme }}"
                            alt=""></a>
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="500ms"><img src="{{ 'assets/img/core-img/3.png'|theme }}"
                            alt=""></a>
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="700ms"><img src="{{ 'assets/img/core-img/4.png'|theme }}"
                            alt=""></a>
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="900ms"><img src="{{ 'assets/img/core-img/5.png'|theme }}"
                            alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>